*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.btn{
    padding: 12px 15px;
    font-weight: 600;
    background: #f34040;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin-top: 15px;
    /* text-align: center; */
}
h1{
    font-size: 50px;
    margin-bottom: 15px;
    text-align: center;

}
p{
    text-align: center;
    line-height: 1.5;
}
ul li{
    list-style-type: none;
}
section{
  margin-top: 100px;
}
.description{
    color: #707070;
    margin: 25px 0;
}
.hero{
    background: url(image/pexels-timur-weber-9532305.jpg);
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, 0.774);
}
.hero .title{
    text-transform: capitalize;
    text-align: center;
}

/* amount section */
.amount h1{
    text-align: center;
}
.amount .amount-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}
.amount .amount-list li{
    font-size: 20px;
    color: #707070;
    padding: 20px 15px;
    background: #ececec;
    border-radius: 4px;
    font-weight: bold;
}
.amount .amount-list li:nth-child(2){
    border: 1px solid #f34040;

}
.amount .amount-other{
    font-size: 20px;
    color: #c5c5c5;
    width: 50%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
    margin: 0 auto;
    text-align: center;
    margin-top: 32px;
}
.amount-btn{
  text-align: center;
}
.plan{
    max-width: 1120px;
    margin: 100px auto;

}
.plan h1{
    text-align: center;
}
.card-grp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card{
 padding: 20px 20px;
 border-radius: 4px;
 
}
.card-grp .card:nth-child(1){
    background: #edf5f6;
}.card-grp .card:nth-child(2){
    background: #ffeeee;
}.card-grp .card:nth-child(3){
    background: #fff4d6;
}
.card h3{
    margin-bottom: 15px;
}
.card p{
    text-align: left;
}
.card i{
    font-size: 35px;
    margin: 15px 0;
}



.colums{
    max-width: 1120px;
    margin: 150px auto;
}
/* .containers{
    display: flex;
    flex-direction: column;
} */
.st-seciton, .nd-seciton{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    margin-bottom: 80px;
}
.containers .content{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px;
    width: 50%;
}
.containers .content p{
    text-align: left;
    margin-top: 20px;
}
.containers img{
    height: 100%;
    width: 100%;
}
.image{
    width: 50%;
}

.subcription .eamil-section{
    height: 150px;
    width: 700px;
    background: #fff4d6;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.eamil-section input{
    padding: 14px 40px;
    border: none;
    border-radius: 5px 0 0  5px;
    background: #c5c5c5;
}
.eamil-section button{
    padding: 14px 40px;
    border: none;
    background-color: #f34040;
    color: #fff;
    border-radius: 0 5px 5px 0;
}
footer{
    background:#0b0d17;
    padding: 50px ;
    margin-top: 100px;
    line-height: 2;
}
footer h3{
    color: #f34040;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}
footer p{
    color: #c5c5c5;
    font-size: 13px;
}